.game {
  font-family: 'VAG World';
  background-color: #2B344B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 27px 0 163px;
}

.level {
  font-family: 'VAG World';
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 57px;
}

.words {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style-type: none;
  align-items: center;
  margin-bottom: 122px;
}


